Repository hashicorp/hcp-terraform-operator, pull requests merged in 2023-11, with the labels that each got.

#290 🔧 Tweak autoscaler logic
  CHANGELOG.md
  controllers/agentpool_controller_autoscaling.go
  controllers/agentpool_controller_deployment.go
Labels: documentation, size/M, golang, controller

#298 fix min/max replicas ordering in autoscaler
  controllers/agentpool_controller_autoscaling.go
Labels: documentation, size/XS, golang, controller

#297 🎉 v2.0.0
  CHANGELOG.md
  README.md
  charts/terraform-cloud-operator/Chart.yaml
  charts/terraform-cloud-operator/README.md
  docs/agentpool.md
  version/VERSION
Labels: documentation, size/M, helm-chart, release

#164 Add the ability to configure log levels via env var
  main.go
Labels: documentation, size/XS, golang

#288 📖 Update the features page
  docs/features.md
Labels: documentation, size/L

#300 🚀 Add project support
  CHANGELOG.md
  api/v1alpha2/workspace_types.go
  api/v1alpha2/workspace_validation.go
  api/v1alpha2/workspace_validation_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  charts/terraform-cloud-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  controllers/suite_test.go
  controllers/workspace_controller.go
  controllers/workspace_controller_projects.go
  controllers/workspace_controller_projects_test.go
  docs/api-reference.md
  docs/examples/workspace-project.yaml
  docs/faq.md
  docs/migration/crds/workspaces_patch_a.yaml
  docs/migration/crds/workspaces_patch_b.yaml
Labels: documentation, crd, helm-chart, api, golang, size/XL, controller, test

#302 🎉 v2.1.0
  CHANGELOG.md
  README.md
  charts/terraform-cloud-operator/Chart.yaml
  charts/terraform-cloud-operator/README.md
  version/VERSION
Labels: documentation, size/XS, helm-chart, release
