Repository hashicorp/hcp-terraform-operator, pull requests merged in 2023-07, with the labels that each got.

#206 🚀 Add `status.TerraformVersion`
  CHANGELOG.md
  api/v1alpha2/workspace_types.go
  charts/terraform-cloud-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  controllers/workspace_controller.go
  controllers/workspace_controller_test.go
  docs/faq.md
  docs/migration/crds/workspaces_patch_a.yaml
  docs/migration/crds/workspaces_patch_b.yaml
  main.go
Labels: documentation, size/M, crd, helm-chart, api, golang, controller, test

#204 🚀 Update the Helm chart version and related script
  CHANGELOG.md
  RELEASING.md
  charts/terraform-cloud-operator/Chart.yaml
  charts/terraform-cloud-operator/values.yaml
  scripts/update-helm-chart.sh
  version/HELM_CHART_VERSION
Labels: documentation, size/M, helm-chart

#194 🚀 Add event filtering to the Workspace controller
  CHANGELOG.md
  controllers/agentpool_controller.go
  controllers/module_controller.go
  controllers/predicate.go
  controllers/workspace_controller.go
  controllers/workspace_controller_sshkey.go
Labels: size/L, golang, controller

#198 Add autoscaling field to AgentPool
  CHANGELOG.md
  api/v1alpha2/agentpool_types.go
  api/v1alpha2/zz_generated.deepcopy.go
  charts/terraform-cloud-operator/crds/app.terraform.io_agentpools.yaml
  config/crd/bases/app.terraform.io_agentpools.yaml
  controllers/agentpool_controller.go
  controllers/agentpool_controller_autoscaling.go
  controllers/agentpool_controller_deployment.go
  controllers/agentpool_controller_test.go
  docs/agentpool.md
  docs/api-reference.md
Labels: documentation, crd, helm-chart, api, golang, size/XL, controller, test

#208 ✨ Change the team name in the `Dockerfile`
  Dockerfile
Labels: size/XS

#210 📖 Update README.md
  README.md
Labels: documentation, size/XS

#209 🎉 v2.0.0-beta7
  CHANGELOG.md
  charts/terraform-cloud-operator/Chart.yaml
  version/VERSION
Labels: size/XS, helm-chart, release

#211 📖 Update Helm chart install doc
  docs/installation.md
Labels: documentation, size/XS

#215 🚀 Support autoscaling agents to 0 replicas
  controllers/agentpool_controller_autoscaling.go
Labels: size/XS, golang, controller

#220 Some better naming for autoscaler functions
  controllers/agentpool_controller_autoscaling.go
Labels: size/XS, golang, controller

#216 🐛 Remove duplicate key `name` in the Helm chart's Deployment template
  CHANGELOG.md
  charts/terraform-cloud-operator/templates/deployment.yaml
Labels: size/XS, helm-chart

#222 🚀 Add a new environment variable `TFC_TLS_SKIP_VERIFY`
  CHANGELOG.md
  charts/terraform-cloud-operator/templates/deployment.yaml
  charts/terraform-cloud-operator/values.yaml
  controllers/agentpool_controller.go
  controllers/module_controller.go
  controllers/workspace_controller.go
Labels: size/M, helm-chart, golang, controller

#223 🤖 Update tests and related GH test workflows
  .github/workflows/end-to-end-tfc.yaml
  .github/workflows/end-to-end-tfe.yaml
  .github/workflows/helm-end-to-end-tfc.yaml
  .github/workflows/helm-end-to-end-tfe.yaml
  controllers/module_controller_test.go
  controllers/suite_test.go
  controllers/workspace_controller_notifications_test.go
  controllers/workspace_controller_outputs_test.go
  controllers/workspace_controller_test.go
Labels: size/M, golang, controller, test

#225 🚀 Move helper functions to `internal/`
  .github/workflows/helm-end-to-end-tfc.yaml
  .github/workflows/helm-end-to-end-tfe.yaml
  .github/workflows/unit-tests.yaml
  Dockerfile
  Makefile
  api/v1alpha2/agentpool_validation_test.go
  controllers/agentpool_controller_autoscaling.go
  controllers/agentpool_controller_deployment.go
  controllers/agentpool_controller_test.go
  controllers/agentpool_controller_tokens.go
  controllers/module_controller_test.go
  controllers/workspace_controller_notifications.go
  internal/pointer/pointer.go
  internal/pointer/pointer_test.go
  internal/slice/slice.go
  internal/slice/slice_test.go
Labels: size/L, api, golang, controller, test

#231 JIRA GHA Integration
  .github/workflows/jira-issues.yaml
  .github/workflows/jira-pr.yaml
Labels: size/L, github_actions
