Repository hashicorp/hcp-terraform-operator, pull requests merged in 2023-03, with the labels that each got.

#100 🤖 Add E2E workflow to run on TFE
  .github/workflows/end-to-end-tfc.yaml
  .github/workflows/end-to-end-tfe.yaml
  controllers/module_controller_test.go
  controllers/suite_test.go
Labels: size/S, golang, controller, test

#105 🤖 Update copyright workflow
  .github/workflows/hc-copywrite.yml
Labels: size/XS

#96 Add agent deployment option to AgentPool
  api/v1alpha2/agentpool_types.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/app.terraform.io_agentpools.yaml
  controllers/agentpool_controller.go
  controllers/agentpool_controller_deployment.go
  controllers/agentpool_controller_test.go
  docs/agentpool.md
  docs/api-reference.md
  docs/examples/agentPool-deployment.yaml
Labels: documentation, crd, api, golang, size/XL, controller, test

#128 ✨ Update Helm chart CRDs and Makefile
  Makefile
  api/v1alpha2/zz_generated.deepcopy.go
  charts/terraform-cloud-operator/crds/app.terraform.io_agentpools.yaml
  charts/terraform-cloud-operator/crds/app.terraform.io_modules.yaml
  charts/terraform-cloud-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_agentpools.yaml
  hack/boilerplate.go.txt
Labels: crd, helm-chart, api, golang, size/XL

#107 🚀 Add support for Notifications
  api/v1alpha2/helpers.go
  api/v1alpha2/helpers_test.go
  api/v1alpha2/workspace_types.go
  api/v1alpha2/workspace_validation.go
  api/v1alpha2/workspace_validation_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  charts/terraform-cloud-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_agentpools.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  controllers/helpers.go
  controllers/workspace_controller.go
  controllers/workspace_controller_notifications.go
  controllers/workspace_controller_notifications_test.go
  docs/api-reference.md
  docs/examples/workspace-basicNotifications.yaml
  docs/features.md
Labels: documentation, crd, helm-chart, api, golang, size/XL, controller, test

#134 Update chart RBAC to allow access to Deployments
  charts/terraform-cloud-operator/Chart.yaml
  charts/terraform-cloud-operator/templates/clusterrole.yaml
  controllers/agentpool_controller.go
Labels: size/XS, helm-chart, golang, controller

#135 RBAC for Deployments should use `apps` API group
  charts/terraform-cloud-operator/templates/clusterrole.yaml
  config/rbac/role.yaml
  controllers/agentpool_controller.go
Labels: size/XS, helm-chart, golang, controller

#137 Update the CODEOWNERS file with the release engineering team
  .github/CODEOWNERS
Labels: size/XS
