Repository hashicorp/hcp-terraform-operator, pull requests merged in 2023-10, with the labels that each got.

#271 🚀 Add the ability to configure `kube-rbac-proxy` image
  CHANGELOG.md
  CONTRIBUTING.md
  charts/terraform-cloud-operator/README.md
  charts/terraform-cloud-operator/templates/deployment.yaml
  charts/terraform-cloud-operator/values.yaml
  docs/faq.md
Labels: documentation, size/S, helm-chart

#281 Bump `kube-rbac-proxy` image from 0.14.3 to 0.14.4
  CHANGELOG.md
  charts/terraform-cloud-operator/README.md
  charts/terraform-cloud-operator/values.yaml
Labels: documentation, size/XS, helm-chart

#274 Add wildcardName field to targetWorkspaces
  CHANGELOG.md
  api/v1alpha2/agentpool_types.go
  api/v1alpha2/zz_generated.deepcopy.go
  charts/terraform-cloud-operator/crds/app.terraform.io_agentpools.yaml
  config/crd/bases/app.terraform.io_agentpools.yaml
  controllers/agentpool_controller_autoscaling.go
  controllers/agentpool_controller_test.go
  docs/agentpool.md
  docs/api-reference.md
Labels: documentation, size/L, crd, helm-chart, api, golang, controller, test

#285 Fix failing test for autoscaling
  Makefile
  controllers/agentpool_controller.go
  controllers/agentpool_controller_autoscaling.go
  controllers/agentpool_controller_test.go
Labels: documentation, size/M, golang, controller, test

#283 🌱 Bump crd-ref-docs from 0.0.9 to 0.0.10
  Makefile
  docs/api-reference.md
Labels: documentation, size/M

#282 🌱 Bump Golang version to 1.21
  .github/dependabot.yml
  Dockerfile
  go.mod
  go.sum
Labels: documentation, dependencies, size/XS

#289 🐛 Fix output synchronization
  CHANGELOG.md
  controllers/helpers.go
  controllers/helpers_test.go
  controllers/module_controller_outputs.go
  controllers/workspace_controller_outputs.go
Labels: documentation, size/M, golang, controller, test
