Repository hashicorp/hcp-terraform-operator, pull requests merged in 2023-01, with the labels that each got.

#48 🌱 Bump Kubernetes ecosystem tools versions
  Makefile
  charts/terraform-cloud-operator/crds/app.terraform.io_agentpools.yaml
  charts/terraform-cloud-operator/crds/app.terraform.io_modules.yaml
  charts/terraform-cloud-operator/crds/app.terraform.io_workspaces.yaml
  charts/terraform-cloud-operator/templates/deployment.yaml
  config/crd/bases/app.terraform.io_agentpools.yaml
  config/crd/bases/app.terraform.io_modules.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  docs/api-reference.md
  docs/config.yaml
Labels: documentation, size/S, crd, helm-chart

#43 📖 Update Agent Pool controller documentation and add initial FAQ
  README.md
  docs/agentpool.md
  docs/faq.md
Labels: documentation, size/L

#50 🤖 Update GitHub workflows to use pinned commit hash versions
  .github/workflows/codeql-analysis.yml
  .github/workflows/end-to-end-tests.yaml
  .github/workflows/markdown-link-check.yaml
  .github/workflows/pr-labeler.yml
Labels: size/XS

#47 📖 Update the Operator documentation and FAQ
  README.md
  api/v1alpha2/agentpool_types.go
  api/v1alpha2/module_types.go
  api/v1alpha2/workspace_types.go
  config/crd/bases/app.terraform.io_agentpools.yaml
  config/crd/bases/app.terraform.io_modules.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  docs/api-reference.md
  docs/faq.md
  docs/features.md
Labels: documentation, crd, api, golang, size/XL

#55 🚀 Update Agent Pool tests
  controllers/agentpool_controller_test.go
Labels: size/M, golang, controller

#51 TFECO-1485: Allow setting TFE_ADDRESS via chart variable
  .gitignore
  charts/terraform-cloud-operator/templates/deployment.yaml
  charts/terraform-cloud-operator/values.yaml
  docs/faq.md
  docs/installation.md
Labels: documentation, size/S, helm-chart

#59 📖 Add Metrics documentation
  README.md
  docs/faq.md
  docs/metrics.md
Labels: documentation, size/S

#60 Don't include empty env: attribute in Deployment template
  charts/terraform-cloud-operator/templates/deployment.yaml
Labels: size/XS, helm-chart

#62 🎉 v2.0.0-beta3
  CHANGELOG.md
  README.md
  charts/terraform-cloud-operator/Chart.yaml
Labels: documentation, size/XS, helm-chart

#64 🤖 Add scan Docker image for vulnerabilities action
  .github/workflows/docker-image-scan.yml
Labels: size/S

#63 🤖 Add HashiCorp `copywrite` action
  .copywrite.hcl
  .github/workflows/hc-copywrite.yml
  .github/workflows/pr-labeler.yml
  Dockerfile
  api/v1alpha2/agentpool_helpers.go
  api/v1alpha2/agentpool_types.go
  api/v1alpha2/groupversion_info.go
  api/v1alpha2/module_helpers.go
  api/v1alpha2/module_types.go
  api/v1alpha2/workspace_helpers.go
  api/v1alpha2/workspace_types.go
  charts/terraform-cloud-operator/Chart.yaml
  charts/terraform-cloud-operator/crds/app.terraform.io_agentpools.yaml
  charts/terraform-cloud-operator/crds/app.terraform.io_modules.yaml
  charts/terraform-cloud-operator/crds/app.terraform.io_workspaces.yaml
  charts/terraform-cloud-operator/templates/clusterrole.yaml
  charts/terraform-cloud-operator/templates/clusterrolebinding.yaml
  charts/terraform-cloud-operator/templates/configmap.yaml
  charts/terraform-cloud-operator/templates/deployment.yaml
  charts/terraform-cloud-operator/templates/role.yaml
  charts/terraform-cloud-operator/templates/rolebinding.yaml
  charts/terraform-cloud-operator/templates/service.yaml
  charts/terraform-cloud-operator/templates/serviceaccount.yaml
  charts/terraform-cloud-operator/values.yaml
  controllers/agentpool_controller.go
  controllers/agentpool_controller_test.go
  controllers/agentpool_controller_tokens.go
  controllers/consts.go
  controllers/helpers.go
  controllers/helpers_test.go
  controllers/module_controller.go
  controllers/module_controller_outputs.go
  controllers/module_controller_test.go
  controllers/module_controller_workspace.go
  controllers/suite_test.go
  controllers/workspace_controller.go
  controllers/workspace_controller_agents.go
  controllers/workspace_controller_agents_test.go
  controllers/workspace_controller_outputs.go
  controllers/workspace_controller_outputs_test.go
  controllers/workspace_controller_remote_state_sharing.go
  controllers/workspace_controller_remote_state_sharing_test.go
  controllers/workspace_controller_run_triggers.go
  controllers/workspace_controller_run_triggers_test.go
  controllers/workspace_controller_sshkey.go
  controllers/workspace_controller_sshkey_test.go
  controllers/workspace_controller_tags.go
  controllers/workspace_controller_tags_test.go
  controllers/workspace_controller_team_access.go
  controllers/workspace_controller_team_access_test.go
  controllers/workspace_controller_test.go
  controllers/workspace_controller_variables.go
  controllers/workspace_controller_variables_test.go
  controllers/workspace_controller_vcs_test.go
  docs/config.yaml
  main.go
Labels: size/L, helm-chart, api, golang, controller

#72 🤖 Fix Docker image scan GH action
  .github/workflows/docker-image-scan.yml
Labels: size/XS

#77 🐛 Fix an issue when the Module cannot get Workspace by ID
  controllers/module_controller_test.go
  controllers/module_controller_workspace.go
Labels: size/M, golang, controller
