Repository hashicorp/hcp-terraform-operator, pull requests merged in 2023-02, with the labels that each got.

#76 📖 Update documentation
  README.md
  api/v1alpha2/module_types.go
  api/v1alpha2/workspace_types.go
  docs/api-reference.md
  docs/examples/README.md
  docs/examples/agentPool-basic.yaml
  docs/examples/module-basic.yaml
  docs/examples/workspace-basic.yaml
  docs/examples/workspace-runTriggers.yaml
  docs/examples/workspace-terraformVersion.yaml
  docs/faq.md
  docs/module.md
  docs/workspace.md
Labels: documentation, size/L, api, golang

#79 🚀 Add API validation
  .github/workflows/api-tests.yaml
  CHANGELOG.md
  Makefile
  api/v1alpha2/agentpool_types.go
  api/v1alpha2/agentpool_validation.go
  api/v1alpha2/agentpool_validation_test.go
  api/v1alpha2/helpers.go
  api/v1alpha2/helpers_test.go
  api/v1alpha2/module_types.go
  api/v1alpha2/module_validation.go
  api/v1alpha2/module_validation_test.go
  api/v1alpha2/workspace_types.go
  api/v1alpha2/workspace_validation.go
  api/v1alpha2/workspace_validation_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/app.terraform.io_agentpools.yaml
  config/crd/bases/app.terraform.io_modules.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  controllers/agentpool_controller.go
  controllers/agentpool_controller_tokens.go
  controllers/module_controller.go
  controllers/workspace_controller.go
  docs/api-reference.md
Labels: documentation, crd, api, golang, size/XL, controller, test

#95 Fix a small typo in a log message
  controllers/agentpool_controller.go
Labels: size/XS, golang, controller

#89 🚀 Add support for Run Tasks
  api/v1alpha2/workspace_types.go
  api/v1alpha2/workspace_validation.go
  api/v1alpha2/workspace_validation_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/app.terraform.io_workspaces.yaml
  controllers/workspace_controller.go
  controllers/workspace_controller_run_tasks.go
  controllers/workspace_controller_run_tasks_test.go
  docs/api-reference.md
  docs/examples/workspace-runTasks.yaml
  docs/features.md
Labels: documentation, crd, api, golang, size/XL, controller, test
