Repository hashicorp/hcp-terraform-operator, pull requests merged in 2024-10, with the labels that each got.

#491 🚀Add Configurable RBAC Support
  .changes/unreleased/ENHANCEMENTS-491-20241002-142919.yaml
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/templates/clusterrole.yaml
  charts/hcp-terraform-operator/templates/clusterrolebinding.yaml
  charts/hcp-terraform-operator/templates/role.yaml
  charts/hcp-terraform-operator/templates/rolebinding.yaml
  charts/hcp-terraform-operator/values.yaml
Labels: documentation, size/XS, helm-chart

#470 🚀 Add deletion policy to Workspace controller
  .changes/unreleased/BREAKING CHANGES-470-20240909-090348.yaml
  .changes/unreleased/FEATURES-470-20240909-085913.yaml
  .changes/unreleased/NOTES-470-20241017-085430.yaml
  api/v1alpha2/workspace_types.go
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/README.md.gotmpl
  charts/hcp-terraform-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  controllers/agentpool_controller.go
  controllers/module_controller.go
  controllers/project_controller.go
  controllers/suite_test.go
  controllers/workspace_controller.go
  controllers/workspace_controller_deletion_policy.go
  controllers/workspace_controller_deletion_policy_test.go
  controllers/workspace_controller_outputs_test.go
  docs/api-reference.md
  docs/faq.md
Labels: documentation, crd, helm-chart, api, golang, size/XL, controller, test

#492 🐳 Update Dockerfile with a new Red Hat UBI image target
  Dockerfile
Labels: size/S

#477 🚀 Update Workspace Notifications reconciliation logic
  .changes/unreleased/ENHANCEMENTS-477-20240821-134240.yaml
  controllers/workspace_controller_notifications.go
  controllers/workspace_controller_notifications_test.go
Labels: size/L, golang, controller, test

#489 🚀 Add `destroy` deletion policy
  .changes/unreleased/FEATURES-489-20241017-094021.yaml
  api/v1alpha2/module_types.go
  api/v1alpha2/workspace_types.go
  api/v1alpha2/workspace_validation.go
  api/v1alpha2/workspace_validation_test.go
  charts/hcp-terraform-operator/crds/app.terraform.io_modules.yaml
  charts/hcp-terraform-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_modules.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  controllers/module_controller.go
  controllers/workspace_controller_deletion_policy.go
  controllers/workspace_controller_deletion_policy_test.go
Labels: size/L, crd, helm-chart, api, golang, controller, test

#478 🚀 Update Workspace SSH key reconciliation logic
  .changes/unreleased/ENHANCEMENTS-478-20240822-123848.yaml
  .changes/unreleased/NOTES-478-20240822-123914.yaml
  api/v1alpha2/workspace_types.go
  charts/hcp-terraform-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  controllers/workspace_controller.go
  controllers/workspace_controller_sshkey.go
  controllers/workspace_controller_sshkey_test.go
Labels: size/L, crd, helm-chart, api, golang, controller, test

#494 🚀 Add support for labels & annotations to AgentDeployment
  .changes/unreleased/ENHANCEMENTS-494-20241016-113244.yaml
  .changes/unreleased/NOTES-494-20241022-081758.yaml
  api/v1alpha2/agentpool_types.go
  api/v1alpha2/agentpool_validation.go
  api/v1alpha2/validation.go
  api/v1alpha2/validation_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/README.md.gotmpl
  charts/hcp-terraform-operator/crds/app.terraform.io_agentpools.yaml
  config/crd/bases/app.terraform.io_agentpools.yaml
  controllers/agentpool_controller_deployment.go
  docs/api-reference.md
Labels: documentation, size/L, crd, helm-chart, api, golang, controller, test

#500 🤖 Add a new job to Build workflow to generate Docker UBI image
  .github/workflows/build.yml
Labels: size/XS, github_actions

#502 🤖 Update actions in the build workflow
  .github/workflows/build.yml
Labels: size/XS, github_actions

#501 🎉 v2.7.0
  .changes/2.7.0.md
  .changes/unreleased/BREAKING CHANGES-470-20240909-090348.yaml
  .changes/unreleased/DEPENDENCIES-452-20240809-133524.yaml
  .changes/unreleased/DEPENDENCIES-452-20240809-133526.yaml
  .changes/unreleased/DEPENDENCIES-452-20240809-133529.yaml
  .changes/unreleased/DEPENDENCIES-452-20240809-133531.yaml
  .changes/unreleased/DEPENDENCIES-456-20240809-134156.yaml
  .changes/unreleased/DEPENDENCIES-466-20240809-134831.yaml
  .changes/unreleased/DEPENDENCIES-466-20240809-134841.yaml
  .changes/unreleased/ENHANCEMENTS-477-20240821-134240.yaml
  .changes/unreleased/ENHANCEMENTS-478-20240822-123848.yaml
  .changes/unreleased/ENHANCEMENTS-481-20240830-094816.yaml
  .changes/unreleased/ENHANCEMENTS-482-20240830-161222.yaml
  .changes/unreleased/ENHANCEMENTS-487-20240917-131255.yaml
  .changes/unreleased/ENHANCEMENTS-491-20241002-142919.yaml
  .changes/unreleased/ENHANCEMENTS-494-20241016-113244.yaml
  .changes/unreleased/FEATURES-470-20240909-085913.yaml
  .changes/unreleased/FEATURES-479-20240830-090526.yaml
  .changes/unreleased/FEATURES-479-20240830-090626.yaml
  .changes/unreleased/FEATURES-480-20240830-091412.yaml
  .changes/unreleased/FEATURES-480-20240830-091446.yaml
  .changes/unreleased/FEATURES-489-20241017-094021.yaml
  .changes/unreleased/NOTES-470-20241017-085430.yaml
  .changes/unreleased/NOTES-478-20240822-123914.yaml
  .changes/unreleased/NOTES-481-20240830-094502.yaml
  .changes/unreleased/NOTES-494-20241022-081758.yaml
  CHANGELOG.md
  Dockerfile
  README.md
  charts/hcp-terraform-operator/Chart.yaml
  charts/hcp-terraform-operator/README.md
  go.mod
  version/VERSION
Labels: dependencies, size/L, helm-chart, release

#506 📖 Update API reference
  api/v1alpha2/agentpool_types.go
  api/v1alpha2/workspace_types.go
  charts/hcp-terraform-operator/crds/app.terraform.io_agentpools.yaml
  charts/hcp-terraform-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_agentpools.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  docs/api-reference.md
Labels: documentation, size/S, crd, helm-chart, api, golang

#507 🤖 Fix webhook URL in tests
  controllers/suite_test.go
  controllers/workspace_controller_notifications_test.go
  controllers/workspace_controller_run_tasks_test.go
Labels: size/XS, golang, controller, test
