Repository hashicorp/hcp-terraform-operator, pull requests merged in 2024-07, with the labels that each got.

#432 🚀Add Default `securityContext` and Ability to Configure it
  .changes/unreleased/ENHANCEMENTS-432-20240703-130920.yaml
  charts/terraform-cloud-operator/README.md
  charts/terraform-cloud-operator/templates/deployment.yaml
  charts/terraform-cloud-operator/values.yaml
Labels: documentation, size/S, helm-chart

#421 🚀 Add `--agent-pool-sync-period` CLI option
  .changes/unreleased/FEATURES-421-20240611-090051.yaml
  .changes/unreleased/FEATURES-421-20240611-090144.yaml
  charts/terraform-cloud-operator/README.md
  charts/terraform-cloud-operator/templates/deployment.yaml
  charts/terraform-cloud-operator/values.yaml
  controllers/agentpool_controller.go
  controllers/flags.go
  docs/faq.md
  main.go
Labels: documentation, size/S, helm-chart, golang, controller

#420 🚀 Update Agent Pool requeue duration logic
  .changes/unreleased/ENHANCEMENTS-420-20240611-101431.yaml
  controllers/agentpool_controller.go
  controllers/agentpool_controller_autoscaling.go
Labels: size/S, golang, controller

#438 🐛 Fix nil pointer dereference
  controllers/agentpool_controller_autoscaling.go
Labels: size/XS, golang, controller

#437 🎉 v2.5.0
  .changes/2.5.0.md
  .changes/unreleased/ENHANCEMENTS-419-20240612-132330.yaml
  .changes/unreleased/ENHANCEMENTS-420-20240611-101431.yaml
  .changes/unreleased/ENHANCEMENTS-432-20240703-130920.yaml
  .changes/unreleased/FEATURES-421-20240611-090051.yaml
  .changes/unreleased/FEATURES-421-20240611-090144.yaml
  CHANGELOG.md
  charts/terraform-cloud-operator/Chart.yaml
  charts/terraform-cloud-operator/README.md
  version/VERSION
Labels: size/M, helm-chart, release

#426 Handle API pagination
  .changes/unreleased/BUG FIXES-426-20240606-184719.yaml
  .changes/unreleased/BUG FIXES-426-20240606-184749.yaml
  .changes/unreleased/BUG FIXES-426-20240606-184753.yaml
  controllers/module_controller_outputs.go
  controllers/project_controller_team_access.go
  controllers/workspace_controller_agents.go
  controllers/workspace_controller_notifications.go
  controllers/workspace_controller_outputs.go
  controllers/workspace_controller_projects.go
  controllers/workspace_controller_remote_state_sharing.go
  controllers/workspace_controller_run_tasks.go
  controllers/workspace_controller_run_triggers.go
  controllers/workspace_controller_sshkey.go
  controllers/workspace_controller_team_access.go
  controllers/workspace_controller_variables.go
Labels: golang, size/XL, controller

#431 🚀 Exposes the ability to customize the name and annotations of the SA
  .changes/unreleased/ENHANCEMENTS-431-20240717-113916.yaml
  charts/terraform-cloud-operator/README.md
  charts/terraform-cloud-operator/templates/ca_secret.yaml
  charts/terraform-cloud-operator/templates/clusterrolebinding.yaml
  charts/terraform-cloud-operator/templates/deployment.yaml
  charts/terraform-cloud-operator/templates/rolebinding.yaml
  charts/terraform-cloud-operator/templates/serviceaccount.yaml
  charts/terraform-cloud-operator/values.yaml
Labels: documentation, size/S, helm-chart

#441 Add seperate fields for configuring autoscaler scale-up and scale-down
  .changes/unreleased/ENHANCEMENTS-441-20240724-130109.yaml
  .changes/unreleased/NOTES-441-20240725-083719.yaml
  api/v1alpha2/agentpool_types.go
  api/v1alpha2/zz_generated.deepcopy.go
  charts/terraform-cloud-operator/README.md
  charts/terraform-cloud-operator/README.md.gotmpl
  charts/terraform-cloud-operator/crds/app.terraform.io_agentpools.yaml
  config/crd/bases/app.terraform.io_agentpools.yaml
  controllers/agentpool_controller.go
  controllers/agentpool_controller_autoscaling.go
  controllers/agentpool_controller_test.go
  docs/api-reference.md
Labels: documentation, size/L, crd, helm-chart, api, golang, controller, test

#442 🛠️ Rebrand - Dockerfile
  Dockerfile
Labels: size/XS

#444 🛠️ Rebrand - Update release related files
  .changie.yaml
  CONTRIBUTING.md
  RELEASING.md
  scripts/update-helm-chart.sh
Labels: documentation, size/S

#445 🤖 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/XS

#439 🛠️ Rebrand - Helm chart
  Makefile
  charts/hcp-terraform-operator/.helmignore
  charts/hcp-terraform-operator/Chart.yaml
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/README.md.gotmpl
  charts/hcp-terraform-operator/crds/app.terraform.io_agentpools.yaml
  charts/hcp-terraform-operator/crds/app.terraform.io_modules.yaml
  charts/hcp-terraform-operator/crds/app.terraform.io_projects.yaml
  charts/hcp-terraform-operator/crds/app.terraform.io_workspaces.yaml
  charts/hcp-terraform-operator/templates/NOTES.txt
  charts/hcp-terraform-operator/templates/_helpers.tpl
  charts/hcp-terraform-operator/templates/ca_secret.yaml
  charts/hcp-terraform-operator/templates/clusterrole.yaml
  charts/hcp-terraform-operator/templates/clusterrolebinding.yaml
  charts/hcp-terraform-operator/templates/deployment.yaml
  charts/hcp-terraform-operator/templates/role.yaml
  charts/hcp-terraform-operator/templates/rolebinding.yaml
  charts/hcp-terraform-operator/templates/service.yaml
  charts/hcp-terraform-operator/templates/serviceaccount.yaml
  charts/hcp-terraform-operator/values.yaml
Labels: documentation, size/M, helm-chart

#446 🤖 Update workflow
  .github/hcp-terraform-logo.png
  .github/tf_logo.png
  .github/workflows/helm-end-to-end-tfc.yaml
  .github/workflows/helm-end-to-end-tfe.yaml
  README.md
Labels: documentation, size/XS, github_actions

#447 🛠️ Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/XS

#448 📖 Update README
  README.md
Labels: documentation, size/XS

#449 🎉 v2.6.0
  .changes/2.6.0.md
  .changes/unreleased/BUG FIXES-426-20240606-184719.yaml
  .changes/unreleased/BUG FIXES-426-20240606-184749.yaml
  .changes/unreleased/BUG FIXES-426-20240606-184753.yaml
  .changes/unreleased/DEPENDENCIES-415-20240717-125043.yaml
  .changes/unreleased/DEPENDENCIES-415-20240717-125305.yaml
  .changes/unreleased/DEPENDENCIES-435-20240717-120118.yaml
  .changes/unreleased/ENHANCEMENTS-431-20240717-113916.yaml
  .changes/unreleased/ENHANCEMENTS-441-20240724-130109.yaml
  .changes/unreleased/NOTES-441-20240725-083719.yaml
  CHANGELOG.md
  README.md
  charts/hcp-terraform-operator/Chart.yaml
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/README.md.gotmpl
  version/VERSION
Labels: size/M, helm-chart, release
