Repository hashicorp/hcp-terraform-operator, pull requests merged in 2024-02, with the labels that each got.

#327 📖 Update FAQ
  charts/terraform-cloud-operator/README.md
  docs/faq.md
Labels: documentation, size/M

#325 🛠️ Migrate changelog management to Changie
  .changes/2.2.0.md
  .changes/unreleased/.gitkeep
  .changie.yaml
  .copywrite.hcl
  .github/pull_request_template.md
  CONTRIBUTING.md
  RELEASING.md
  scripts/release-date.sh
  scripts/update-helm-chart.sh
Labels: documentation, size/XL

#326 Add imagePullSecrets support
  .changes/unreleased/ENHANCEMENTS-326-20240213-124424.yaml
  charts/terraform-cloud-operator/README.md
  charts/terraform-cloud-operator/templates/deployment.yaml
  charts/terraform-cloud-operator/values.yaml
Labels: documentation, size/XS, helm-chart

#335 🌱 Bump kube-rbac-proxy from 0.15.0 to 0.16.0
  .changes/unreleased/DEPENDENCIES-335-20240209-120643.yaml
  charts/terraform-cloud-operator/README.md
  charts/terraform-cloud-operator/values.yaml
Labels: documentation, size/XS, helm-chart

#337 🐛 Fix an issue when a boolean attribute gets mutated on a creation step
  .changes/unreleased/BUG FIXES-337-20240209-143130.yaml
  api/v1alpha2/workspace_types.go
  controllers/workspace_controller_test.go
Labels: documentation, size/S, api, golang, controller, test

#339 🐛 Fix Workspace Notification tests
  controllers/workspace_controller_notifications_test.go
Labels: documentation, size/XS, golang, controller, test, pr/no-changelog

#344 🤖 Fix PR labeler GH action
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: documentation, size/XS, pr/no-changelog

#343 🛠️ Update predicates
  controllers/agentpool_controller.go
  controllers/module_controller.go
  controllers/predicates.go
  controllers/project_controller.go
  controllers/workspace_controller.go
Labels: size/XS, golang, controller, pr/no-changelog

#347 🐛 Fix Workspace Notification tests
  controllers/workspace_controller_notifications_test.go
Labels: size/XS, golang, controller, test

#348 🛠️ Update tests to generate unique names
  controllers/agentpool_controller_test.go
  controllers/module_controller_test.go
  controllers/project_controller_team_access_test.go
  controllers/project_controller_test.go
  controllers/suite_test.go
  controllers/workspace_controller_agents_test.go
  controllers/workspace_controller_notifications_test.go
  controllers/workspace_controller_outputs.go
  controllers/workspace_controller_outputs_test.go
  controllers/workspace_controller_projects_test.go
  controllers/workspace_controller_remote_state_sharing_test.go
  controllers/workspace_controller_run_tasks_test.go
  controllers/workspace_controller_run_triggers_test.go
  controllers/workspace_controller_sshkey_test.go
  controllers/workspace_controller_team_access_test.go
  controllers/workspace_controller_test.go
  controllers/workspace_controller_variables_test.go
  controllers/workspace_controller_vcs_test.go
Labels: golang, size/XL, controller, test

#351 🛠️ Add new Run status methods: `RunCompleted` and `RunApplied`
  .changes/unreleased/ENHANCEMENTS-351-20240229-092321.yaml
  api/v1alpha2/helpers.go
  api/v1alpha2/helpers_test.go
  controllers/module_controller.go
  controllers/module_controller_outputs.go
Labels: size/L, api, golang, controller, test

#352 🛠️ Refactor outputs tests
  controllers/workspace_controller_outputs_test.go
Labels: size/M, golang, controller, test, pr/no-changelog
