Repository hashicorp/hcp-terraform-operator, pull requests merged in 2024-08, with the labels that each got.

#458 🛠️ Update Workspace controller tests
  controllers/workspace_controller_agents_test.go
  controllers/workspace_controller_notifications_test.go
  controllers/workspace_controller_outputs_test.go
  controllers/workspace_controller_projects_test.go
  controllers/workspace_controller_remote_state_sharing_test.go
  controllers/workspace_controller_run_tasks_test.go
  controllers/workspace_controller_run_triggers_test.go
  controllers/workspace_controller_runs_test.go
  controllers/workspace_controller_sshkey_test.go
  controllers/workspace_controller_team_access_test.go
  controllers/workspace_controller_test.go
  controllers/workspace_controller_variables_test.go
  controllers/workspace_controller_vcs_test.go
Labels: golang, size/XL, controller, test

#459 Add artifacts manifest (automatically generated)
  .release/terraform-cloud-operator-artifacts.hcl
Labels: size/XS

#450 🧹 Change Go module name
  api/v1alpha2/agentpool_validation_test.go
  api/v1alpha2/workspace_helpers.go
  controllers/agentpool_controller.go
  controllers/agentpool_controller_autoscaling.go
  controllers/agentpool_controller_deployment.go
  controllers/agentpool_controller_test.go
  controllers/agentpool_controller_tokens.go
  controllers/module_controller.go
  controllers/module_controller_outputs.go
  controllers/module_controller_test.go
  controllers/project_controller.go
  controllers/project_controller_team_access_test.go
  controllers/project_controller_test.go
  controllers/suite_test.go
  controllers/workspace_controller.go
  controllers/workspace_controller_agents_test.go
  controllers/workspace_controller_notifications.go
  controllers/workspace_controller_notifications_test.go
  controllers/workspace_controller_outputs.go
  controllers/workspace_controller_outputs_test.go
  controllers/workspace_controller_projects_test.go
  controllers/workspace_controller_remote_state_sharing.go
  controllers/workspace_controller_remote_state_sharing_test.go
  controllers/workspace_controller_run_tasks_test.go
  controllers/workspace_controller_run_triggers_test.go
  controllers/workspace_controller_runs.go
  controllers/workspace_controller_runs_test.go
  controllers/workspace_controller_sshkey_test.go
  controllers/workspace_controller_tags.go
  controllers/workspace_controller_team_access.go
  controllers/workspace_controller_team_access_test.go
  controllers/workspace_controller_test.go
  controllers/workspace_controller_variables.go
  controllers/workspace_controller_variables_test.go
  controllers/workspace_controller_vcs_test.go
  go.mod
  main.go
Labels: dependencies, size/M, api, golang, controller, test

#461 🤖 Fix Notifications tests
  controllers/workspace_controller_notifications_test.go
  controllers/workspace_controller_test.go
Labels: size/S, golang, controller, test

#457 🐛 Fix CR Status update in Workspace controller
  .changes/unreleased/BUG FIXES-457-20240805-112846.yaml
  controllers/workspace_controller.go
Labels: size/XS, golang, controller

#460 🐛 Update Workspace predicate logic
  .changes/unreleased/BUG FIXES-460-20240805-123610.yaml
  controllers/predicates.go
  controllers/workspace_controller.go
Labels: size/M, golang, controller

#451 🚀Add the Ability to Customize the priorityClassName
  .changes/unreleased/ENHANCEMENTS-451-20240806-184914.yaml
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/templates/deployment.yaml
  charts/hcp-terraform-operator/values.yaml
Labels: documentation, size/XS, helm-chart

#462 🎉 v2.6.1
  .changes/2.2.0.md
  .changes/2.3.0.md
  .changes/2.4.1.md
  .changes/2.5.0.md
  .changes/2.6.0.md
  .changes/2.6.1.md
  .changes/unreleased/BUG FIXES-457-20240805-112846.yaml
  .changes/unreleased/BUG FIXES-460-20240805-123610.yaml
  .changes/unreleased/ENHANCEMENTS-451-20240806-184914.yaml
  CHANGELOG.md
  README.md
  charts/hcp-terraform-operator/Chart.yaml
  charts/hcp-terraform-operator/README.md
  version/VERSION
Labels: size/M, helm-chart, release

#468 🤖 Add a new GH workflow to run on dependabot PRs
  .github/workflows/dependabot-pr.yaml
  .github/workflows/end-to-end-tfc.yaml
  .github/workflows/end-to-end-tfe.yaml
  .github/workflows/helm-end-to-end-tfc.yaml
  .github/workflows/helm-end-to-end-tfe.yaml
Labels: size/XS, github_actions

#469 🤖 Update dependabot PR workflow
  .github/workflows/dependabot-pr.yaml
Labels: size/XS, github_actions
