Repository hashicorp/hcp-terraform-operator, pull requests merged in 2024-12, with the labels that each got.

#495 Feat add tolerations and affinity to operator deployment
  .changes/unreleased/ENHANCEMENTS-495-20241127-090349.yaml
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/templates/deployment.yaml
  charts/hcp-terraform-operator/values.yaml
Labels: documentation, size/S, helm-chart

#522 🚀 Add podLabels value to add custom labels to operator pods
  .changes/unreleased/ENHANCEMENTS-522-20241201-185649.yaml
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/templates/deployment.yaml
  charts/hcp-terraform-operator/values.yaml
Labels: documentation, size/XS, helm-chart

#531 🌱 Bump kube-rbac-proxy from 0.18.1 to 0.18.2
  .changes/unreleased/DEPENDENCIES-531-20241129-220317.yaml
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/values.yaml
Labels: documentation, size/XS, helm-chart

#530 ⎈ Update Helm chart cluster role template
  charts/hcp-terraform-operator/templates/clusterrole.yaml
Labels: size/M, helm-chart

#516 🐛 Fix custom CA bundle
  .changes/unreleased/BREAKING CHANGES-516-20241202-111237.yaml
  .changes/unreleased/BUG FIXES-516-20241202-093345.yaml
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/templates/configmap.yaml
  charts/hcp-terraform-operator/templates/deployment.yaml
  charts/hcp-terraform-operator/values.yaml
Labels: documentation, size/XS, helm-chart

#535 🎉 v2.7.1
  .changes/2.7.1.md
  .changes/unreleased/BREAKING CHANGES-516-20241202-111237.yaml
  .changes/unreleased/BUG FIXES-504-20241107-160657.yaml
  .changes/unreleased/BUG FIXES-516-20241202-093345.yaml
  .changes/unreleased/DEPENDENCIES-508-20241108-104905.yaml
  .changes/unreleased/DEPENDENCIES-508-20241108-105150.yaml
  .changes/unreleased/DEPENDENCIES-514-20241107-152840.yaml
  .changes/unreleased/DEPENDENCIES-519-20241108-120859.yaml
  .changes/unreleased/DEPENDENCIES-525-20241127-094418.yaml
  .changes/unreleased/DEPENDENCIES-525-20241127-094421.yaml
  .changes/unreleased/DEPENDENCIES-525-20241127-094423.yaml
  .changes/unreleased/DEPENDENCIES-525-20241127-094425.yaml
  .changes/unreleased/DEPENDENCIES-526-20241127-094910.yaml
  .changes/unreleased/DEPENDENCIES-527-20241127-095314.yaml
  .changes/unreleased/DEPENDENCIES-527-20241127-095317.yaml
  .changes/unreleased/DEPENDENCIES-531-20241129-220317.yaml
  .changes/unreleased/DEPENDENCIES-532-20241202-093918.yaml
  .changes/unreleased/ENHANCEMENTS-495-20241127-090349.yaml
  .changes/unreleased/ENHANCEMENTS-522-20241201-185649.yaml
  .changes/unreleased/NOTES-512-20241107-161925.yaml
  CHANGELOG.md
  README.md
  charts/hcp-terraform-operator/Chart.yaml
  charts/hcp-terraform-operator/README.md
  version/VERSION
Labels: size/L, helm-chart, release
