Repository hashicorp/hcp-terraform-operator, pull requests merged in 2024-06, with the labels that each got.

#424 🌱 Bump kube-rbac-proxy from 0.17.0 to 0.18.0
  .changes/unreleased/DEPENDENCIES-424-20240606-103613.yaml
  charts/terraform-cloud-operator/README.md
  charts/terraform-cloud-operator/values.yaml
Labels: documentation, size/XS, helm-chart

#423 Remove module/workspace name labels from output ConfigMaps
  .changes/unreleased/BUG FIXES-423-20240606-173809.yaml
  .changes/unreleased/BUG FIXES-423-20240606-173823.yaml
  controllers/module_controller_outputs.go
  controllers/workspace_controller_outputs.go
Labels: size/XS, golang, controller

#427 🎉 v2.4.1
  .changes/2.4.1.md
  .changes/unreleased/BUG FIXES-423-20240606-173809.yaml
  .changes/unreleased/BUG FIXES-423-20240606-173823.yaml
  .changes/unreleased/DEPENDENCIES-422-20240605-192713.yaml
  .changes/unreleased/DEPENDENCIES-424-20240606-103613.yaml
  CHANGELOG.md
  README.md
  charts/terraform-cloud-operator/Chart.yaml
  charts/terraform-cloud-operator/README.md
  version/VERSION
Labels: documentation, size/M, helm-chart, release

#406 Update GH actions to use Node20
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-image-security-scan.yml
  .github/workflows/end-to-end-tfc.yaml
  .github/workflows/end-to-end-tfe.yaml
  .github/workflows/hc-copywrite.yml
  .github/workflows/helm-end-to-end-tfc.yaml
  .github/workflows/helm-end-to-end-tfe.yaml
  .github/workflows/markdown-link-check.yaml
  .github/workflows/pr-labeler.yml
  .github/workflows/tag-release.yaml
  .github/workflows/unit-tests.yaml
Labels: size/M

#429 🤖 Add repo checkout step to PR labeler workflow
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: size/M, github_actions
