Repository hashicorp/hcp-terraform-operator, pull requests merged in 2025-03, with the labels that each got.

#560 🌱 Bump kube-rbac-proxy from 0.18.1 to 0.19.0
  .changes/unreleased/DEPENDENCIES-560-20250226-154816.yaml
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/values.yaml
  charts/test/unit/deployment_test.go
Labels: documentation, size/XS, helm-chart, golang, test

#570 🚀 Enhance support for variable sets and refactor the implementation
  .changes/unreleased/ENHANCEMENTS-570-20250310-105532.yaml
  internal/controller/workspace_controller.go
  internal/controller/workspace_controller_variable_sets.go
  internal/controller/workspace_controller_variable_sets_test.go
Labels: golang, size/XL, test

#571 🌱 Bump Kubernetes dependencies
  .changes/unreleased/DEPENDENCIES-571-20250311-093017.yaml
  .changes/unreleased/DEPENDENCIES-571-20250311-093021.yaml
  .changes/unreleased/DEPENDENCIES-571-20250311-093024.yaml
  .changes/unreleased/DEPENDENCIES-571-20250311-093028.yaml
  go.mod
  go.sum
Labels: dependencies, size/S

#574 🎉 v2.8.1
  .changes/2.8.1.md
  .changes/unreleased/DEPENDENCIES-560-20250226-154816.yaml
  .changes/unreleased/DEPENDENCIES-566-20250303-155947.yaml
  .changes/unreleased/DEPENDENCIES-566-20250303-160026.yaml
  .changes/unreleased/DEPENDENCIES-571-20250311-093017.yaml
  .changes/unreleased/DEPENDENCIES-571-20250311-093021.yaml
  .changes/unreleased/DEPENDENCIES-571-20250311-093024.yaml
  .changes/unreleased/DEPENDENCIES-571-20250311-093028.yaml
  .changes/unreleased/ENHANCEMENTS-570-20250310-105532.yaml
  CHANGELOG.md
  README.md
  charts/hcp-terraform-operator/Chart.yaml
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/README.md.gotmpl
  config/manager/kustomization.yaml
  version/VERSION
Labels: size/M, helm-chart, release

#496 Feat add workspace trigger patterns to CRD
  .changes/unreleased/ENHANCEMENTS-496-20250227-143924.yaml
  api/v1alpha2/workspace_types.go
  api/v1alpha2/workspace_validation.go
  api/v1alpha2/workspace_validation_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  charts/hcp-terraform-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  docs/api-reference.md
  internal/controller/workspace_controller.go
  internal/controller/workspace_controller_trigger_patterns.go
  internal/controller/workspace_controller_trigger_prefixes.go
Labels: documentation, crd, helm-chart, api, golang, size/XL, test

#577 🐛 Fix Workspace `spec.versionControl` validation
  Makefile
  api/v1alpha2/workspace_types.go
  api/v1alpha2/workspace_validation.go
  api/v1alpha2/workspace_validation_test.go
  charts/hcp-terraform-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  docs/api-reference.md
Labels: documentation, size/M, crd, helm-chart, api, golang, test

#579 📚 Update releasing guide
  Makefile
  RELEASING.md
  config/samples/app_v1alpha2_agentpool.yaml
  config/samples/app_v1alpha2_module.yaml
  config/samples/app_v1alpha2_project.yaml
  config/samples/app_v1alpha2_workspace.yaml
  hack/add-bundle-replaces.sh
Labels: documentation, size/M

#580 🐛 Fix an issue with agent scaling during the first run
  .changes/unreleased/BUG FIXES-580-20250321-154528.yaml
  internal/controller/agentpool_controller_autoscaling.go
  internal/controller/agentpool_controller_autoscaling_test.go
  internal/controller/agentpool_controller_deployment.go
  internal/controller/helpers_test.go
  internal/controller/workspace_controller_deletion_policy_test.go
  internal/controller/workspace_controller_outputs_test.go
  internal/controller/workspace_controller_runs_test.go
Labels: size/L, golang, test
