Repository hashicorp/hcp-terraform-operator, pull requests merged in 2025-04, with the labels that each got.

#591 🌱 Bump Go version to 1.24.2
  Dockerfile
  charts/test/go.mod
  go.mod
Labels: dependencies, size/XS

#561 🚀 Add a new agent scaling algorithm
  .changes/unreleased/BUG FIXES-561-20250319-111650.yaml
  .changes/unreleased/NOTES-561-20250319-111654.yaml
  api/v1alpha2/agentpool_types.go
  charts/hcp-terraform-operator/crds/app.terraform.io_agentpools.yaml
  config/crd/bases/app.terraform.io_agentpools.yaml
  docs/api-reference.md
  internal/controller/agentpool_controller_autoscaling.go
  internal/controller/agentpool_controller_autoscaling_test.go
  internal/controller/agentpool_controller_deployment.go
  internal/controller/helpers.go
  internal/controller/helpers_test.go
  internal/controller/workspace_controller_outputs_test.go
Labels: documentation, size/L, crd, helm-chart, api, golang, test

#558 🚀 Add Auto Apply for Run Triggers Support
  .changes/unreleased/ENHANCEMENTS-558-20250225-085922.yaml
  .changes/unreleased/NOTES-558-20250331-123001.yaml
  api/v1alpha2/workspace_types.go
  charts/hcp-terraform-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  docs/api-reference.md
  docs/examples/workspace-basic.yaml
  docs/faq.md
  internal/controller/workspace_controller.go
  internal/controller/workspace_controller_runs_test.go
  internal/controller/workspace_controller_test.go
  internal/controller/workspace_controller_vcs_test.go
Labels: documentation, size/M, crd, helm-chart, api, golang, test

#569 🚀 Add deletion policy to Project Controller
  .changes/unreleased/BREAKING CHANGES-569-20250402-133853.yaml
  .changes/unreleased/FEATURES-569-20250402-134247.yaml
  .changes/unreleased/NOTES-569-20250402-134111.yaml
  api/v1alpha2/project_types.go
  charts/hcp-terraform-operator/crds/app.terraform.io_projects.yaml
  config/crd/bases/app.terraform.io_projects.yaml
  docs/api-reference.md
  internal/controller/project_controller.go
  internal/controller/project_controller_deletion_policy.go
  internal/controller/project_controller_deletion_policy_test.go
Labels: documentation, size/L, crd, helm-chart, api, golang, test

#582 🚀 Add Deletion Policy to Module Controller
  .changes/unreleased/FEATURES-582-20250404-083819.yaml
  .changes/unreleased/NOTES-582-20250404-083929.yaml
  .changes/unreleased/NOTES-582-20250414-101140.yaml
  api/v1alpha2/module_types.go
  charts/hcp-terraform-operator/crds/app.terraform.io_modules.yaml
  config/crd/bases/app.terraform.io_modules.yaml
  docs/api-reference.md
  internal/controller/module_controller.go
  internal/controller/module_controller_deletion_policy.go
  internal/controller/module_controller_deletion_policy_test.go
Labels: documentation, crd, helm-chart, api, golang, size/XL, test

#578 🤖 Add VCS tests and update Workspace schema
  .changes/unreleased/ENHANCEMENTS-578-20250415-102025.yaml
  api/v1alpha2/workspace_types.go
  api/v1alpha2/workspace_validation.go
  api/v1alpha2/workspace_validation_test.go
  charts/hcp-terraform-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  docs/api-reference.md
  internal/controller/workspace_controller.go
  internal/controller/workspace_controller_trigger_patterns.go
  internal/controller/workspace_controller_trigger_prefixes.go
  internal/controller/workspace_controller_vcs.go
  internal/controller/workspace_controller_vcs_test.go
Labels: documentation, crd, helm-chart, api, golang, size/XL, test

#567 🤖 Add a new GitHub action to validate Helm documentation
  .github/workflows/helm-docs.yml
Labels: size/S, github_actions

#568 🤖 Update Helm chart unit tests
  charts/test/unit/deployment_test.go
  charts/test/unit/helpers.go
  charts/test/unit/rbac_role_binding_test.go
Labels: size/M, golang, test

#584 🚀 Add deletionPolicy to Agent Pool controller
  .changes/unreleased/BREAKING CHANGES-584-20250415-124806.yaml
  .changes/unreleased/ENHANCEMENTS-584-20250415-124914.yaml
  .changes/unreleased/NOTES-494-20250415-125014.yaml
  api/v1alpha2/agentpool_types.go
  charts/hcp-terraform-operator/crds/app.terraform.io_agentpools.yaml
  config/crd/bases/app.terraform.io_agentpools.yaml
  docs/api-reference.md
  internal/controller/agentpool_controller.go
  internal/controller/agentpool_controller_autoscaling_test.go
  internal/controller/agentpool_controller_deletion_policy.go
  internal/controller/agentpool_controller_deletion_policy_test.go
  internal/controller/agentpool_controller_test.go
Labels: documentation, crd, helm-chart, api, golang, size/XL, test

#581 ✨ Add CRD versioning
  api/v1alpha2/agentpool_types.go
  api/v1alpha2/module_types.go
  api/v1alpha2/project_types.go
  api/v1alpha2/workspace_types.go
  charts/hcp-terraform-operator/crds/app.terraform.io_agentpools.yaml
  charts/hcp-terraform-operator/crds/app.terraform.io_modules.yaml
  charts/hcp-terraform-operator/crds/app.terraform.io_projects.yaml
  charts/hcp-terraform-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_agentpools.yaml
  config/crd/bases/app.terraform.io_modules.yaml
  config/crd/bases/app.terraform.io_projects.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  docs/annotations-and-labels.md
Labels: documentation, size/M, crd, helm-chart, api, golang

#597 🎉 v2.9.0
  .changes/2.9.0.md
  .changes/unreleased/BREAKING CHANGES-569-20250402-133853.yaml
  .changes/unreleased/BREAKING CHANGES-584-20250415-124806.yaml
  .changes/unreleased/BUG FIXES-561-20250319-111650.yaml
  .changes/unreleased/BUG FIXES-580-20250321-154528.yaml
  .changes/unreleased/DEPENDENCIES-586-20250401-091327.yaml
  .changes/unreleased/DEPENDENCIES-586-20250401-091330.yaml
  .changes/unreleased/DEPENDENCIES-586-20250401-091333.yaml
  .changes/unreleased/DEPENDENCIES-586-20250401-091336.yaml
  .changes/unreleased/DEPENDENCIES-587-20250401-134200.yaml
  .changes/unreleased/DEPENDENCIES-587-20250401-134204.yaml
  .changes/unreleased/DEPENDENCIES-587-20250401-134207.yaml
  .changes/unreleased/ENHANCEMENTS-496-20250227-143924.yaml
  .changes/unreleased/ENHANCEMENTS-558-20250225-085922.yaml
  .changes/unreleased/ENHANCEMENTS-578-20250415-102025.yaml
  .changes/unreleased/ENHANCEMENTS-584-20250415-124914.yaml
  .changes/unreleased/FEATURES-569-20250402-134247.yaml
  .changes/unreleased/FEATURES-582-20250404-083819.yaml
  .changes/unreleased/NOTES-494-20250415-125014.yaml
  .changes/unreleased/NOTES-558-20250331-123001.yaml
  .changes/unreleased/NOTES-561-20250319-111654.yaml
  .changes/unreleased/NOTES-569-20250402-134111.yaml
  .changes/unreleased/NOTES-582-20250404-083929.yaml
  .changes/unreleased/NOTES-582-20250414-101140.yaml
  CHANGELOG.md
  Dockerfile
  README.md
  charts/hcp-terraform-operator/Chart.yaml
  charts/hcp-terraform-operator/README.md
  config/manager/kustomization.yaml
  version/VERSION
Labels: size/L, helm-chart, release

#598 📖 Update Helm chart Readme
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/README.md.gotmpl
Labels: documentation, size/S
