Repository hashicorp/hcp-terraform-operator, pull requests merged in 2025-02, with the labels that each got.

#497 🚀 Add Workspace Variable Set Support
  .changes/unreleased/ENHANCEMENTS-497-20250210-095711.yaml
  .changes/unreleased/NOTES-497-20250210-095741.yaml
  api/v1alpha2/workspace_types.go
  api/v1alpha2/workspace_validation.go
  api/v1alpha2/workspace_validation_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  charts/hcp-terraform-operator/README.md
  charts/hcp-terraform-operator/README.md.gotmpl
  charts/hcp-terraform-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  docs/api-reference.md
  docs/examples/workspace-variable-sets.yaml
  internal/controller/workspace_controller.go
  internal/controller/workspace_controller_variable_sets.go
  internal/controller/workspace_controller_variable_sets_test.go
Labels: documentation, crd, helm-chart, api, golang, size/XL, test

#557 🎉 v2.8.0
  .changes/2.7.0.md
  .changes/2.7.1.md
  .changes/2.8.0.md
  .changes/unreleased/DEPENDENCIES-549-20250123-105556.yaml
  .changes/unreleased/ENHANCEMENTS-497-20250210-095711.yaml
  .changes/unreleased/NOTES-497-20250210-095741.yaml
  CHANGELOG.md
  README.md
  charts/hcp-terraform-operator/Chart.yaml
  charts/hcp-terraform-operator/README.md
  version/VERSION
Labels: size/M, helm-chart, release

#513 🧳 Red Hat OpenShift Operator Bundle
  .gitignore
  Dockerfile
  Makefile
  PROJECT
  api/v1alpha2/agentpool_types.go
  api/v1alpha2/module_types.go
  api/v1alpha2/project_types.go
  api/v1alpha2/workspace_types.go
  charts/hcp-terraform-operator/crds/app.terraform.io_agentpools.yaml
  charts/hcp-terraform-operator/crds/app.terraform.io_modules.yaml
  charts/hcp-terraform-operator/crds/app.terraform.io_projects.yaml
  charts/hcp-terraform-operator/crds/app.terraform.io_workspaces.yaml
  config/crd/bases/app.terraform.io_agentpools.yaml
  config/crd/bases/app.terraform.io_modules.yaml
  config/crd/bases/app.terraform.io_projects.yaml
  config/crd/bases/app.terraform.io_workspaces.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_config_patch.yaml
  config/manager/controller_manager_config.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/hcp-terraform-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/prometheus/monitor.yaml
  config/rbac/agentpool_editor_role.yaml
  config/rbac/agentpool_viewer_role.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/project_editor_role.yaml
  config/rbac/project_viewer_role.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  config/samples/app_v1alpha2_agentpool.yaml
  config/samples/app_v1alpha2_module.yaml
  config/samples/app_v1alpha2_project.yaml
  config/samples/app_v1alpha2_workspace.yaml
  config/samples/kustomization.yaml
  config/scorecard/kustomization.yaml
  config/scorecard/patches/basic.config.yaml
  config/scorecard/patches/olm.config.yaml
  docs/api-reference.md
  hack/add-bundle-annotations.sh
Labels: documentation, crd, helm-chart, api, golang, size/XL
